

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  back-ground-color: black;
  opacity: 0.9;

}

/* Navigation Container*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

/*logo*/
.logo img {
  height: 50px;
  width:auto;
  margin-left: 10px;
}

/*navigation*/
.container nav li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}

/*navigation link*/
.container a {
  color: seashell;
}

/*main flex container*/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 75px;
  flex-direction: column;
  width:auto;
}

/*topsection flex container*/
.topsection {
  display:flex;
  width:1200px;
  height:700px;
  justify-content: center;
  align-items: center;
}

/*mission background image*/
.bkgimg1 {
  background-image: url("../../Resources/Images/img-mission-background.jpg");
  text-align:center;
}

/*location image*/
  .bkgimg2 {
  background-image: url("../../Resources/Images/img-locations-background.jpg");
  text-align:center;
}

/*mission copy*/
.missioncopy {
  display:flex;
  flex-direction: column;
  justify-content:center;
  background-color: black;
  width: 1200px;
  height: auto;
  color: seashell;
}

.middlesection{
  display:flex;
  flex-direction: column;
  width: 1000px;
}

.missioncopy2 {
  background-color: black;
  width: 1000px;
  text-align:center;
  color: seashell;
}

.secondmiddle {
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

img {
  width:300px;
  height:200px;
  padding: 15px 10px 0px 10px;
}

/*tea variety copy*/
h4 {
  margin: 10px;
  text-align: center;
}

.bottomsection {
  display:flex;
  width:1200px;
  height:500px;
  justify-content: center;
  align-items: center;
  border: 50px solid black;
}

.boxsection {
  display:flex;
}

/*location box*/
.box {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  background-color:black;
  width: 300px;
  height: 300px;
  margin: 20px;
  margin-top:0px;
}

/*box copy */
.box h3, h4 {
  color: seashell;
  opacity: 1; !important

}

.bottommiddlesection {
  display:flex;
  flex-direction: column;
  width: 1000px;
  height: 200px;
  flex-wrap: wrap;
}

.copyright {
  display:flex;
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom:15px;

}
.bottomimageheader {
  display:flex;
  flex-direction: column;
}
